.footer{
  background: #000000;
}
.footer-container{
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;
  position: relative;
}

.footer-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
  display: flex;
}

.footer-contato li{
  font-weight: bold;
  font-size: 2.0rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
  display: flex;

}

.footer-contato li a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
}

.footer-copy{
  font-size: 1.125rem;
  grid-column: 1 / -1;
  color: #8f8f8f;
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .footer-container{
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato{
    display: flex;
    font-size: 1rem;
    flex-wrap: wrap;
  }
  .footer-container a::before{
    content: none;
  }
}

@media (max-width: 500px) {
  .footer-contato{
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
  }
  .footer-texto{
    flex-wrap: wrap;
    font-size: 0.5rem;
  }
}




